<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        コーディネート編集
      </h1>
    </div>
  </div>
</section>

<% if @coordination.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@coordination.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @coordination.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @coordination do |f| %>

        　<div class="field">
            <%= f.label :image, "コーディネート", class: "label" %>
            <%= f.attachment_field :image, class: "input" %>
        　</div>

          <div class="field">
            <%= f.label :body, "コーディネート詳細", class: "label" %>
            <%= f.text_area :body, class: "textarea" %>
          </div>

          <%= f.submit '投稿', class: "button is-success" %>
          
        <% end %>
      </div>
    </div>
  </div>
</section>